body, html {
    height: 100%;}

    body{background-image: url(https://media.tenor.com/ISCbeJiZt3cAAAAM/bellingham-real-madrid.gif); /* The image used */
   
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */}

        table, th, td {border: 1px solid black}
        .center {
            margin-left: auto;
            margin-right: auto;
          }
          
          form{
            background-color:green ;
            /* padding */
            padding:20px ;
            border-radius: 10px;
            width: 450px;
            text-align: center;
            margin: 0 auto;
        }
        h2{text-align: center;}
        .box1 {
            background-color: #000;
            color: #fff;
            opacity: 0.5;
            text-align: center;
          }
          h3{text-align: center;}
          h4{text-align: center;}

      